.cards {
  padding: 20px 0 40px;
  border-bottom: rgba(33, 33, 33, 0.4) solid 1px;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 413px);
  justify-content: center;
  gap: 40px 20px;
}
