.modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: fixed;
  background-color: #00000080;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_image_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

.modal__close-button_preview {
  top: 0;
  right: -52.5px;
}

.modal__save-button {
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  max-width: 156px;
  height: 52px;
  cursor: pointer;
  line-height: 1;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #2121214d;
  padding: 16px 12px;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input::placeholder {
  color: #2121214d;
  line-height: 1;
}

.modal__label {
  margin: 0 0 32px;
}

.modal__image {
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
}

.modal__caption {
  color: #fff;
  background: rgba(33, 33, 33, 1);
  margin: 12px 0 0;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: left;
  font-size: 20px;
  line-height: 1.2;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: inline-block;
}

.close__icon {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.close__icon:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
    padding: 10px 0 10px;
  }

  .modal__save-button {
    width: 100%;
    max-width: none;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__caption {
    margin: 8px 0 0;
    font-size: 16px;
  }

  .modal__close-button_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
