.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: rgba(33, 33, 33, 0.4) solid 1px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__image-container {
  position: relative;
  margin-right: 20px;
  width: 190px;
  height: 190px;
}

.profile__image {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile__image-edit-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profile__image-edit-button:hover {
  opacity: 1;
}

.profile__image-edit-button img {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1);
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__bio {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  opacity: 0.7;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  color: #212121;
  border: none;
  background-color: transparent;
  margin-top: auto;
  padding: 0;
  width: 107px;
  height: auto;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.7;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__add-button {
  margin: auto 0 0 auto;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  border: none;
  width: 149px;
  height: 52px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  transition: opacity 0.2s ease-in-out;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    text-align: center;
    padding-top: 20px;
  }

  .profile__image-container {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__image-edit-button {
    opacity: 1;
  }

  .profile__image-edit-button img {
    width: 16px;
    height: 16px;
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__bio {
    max-width: 288px;
    font-size: 16px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__edit-button {
    margin: 32px 0 0;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
